/*
 $$$$$$\  $$$$$$$$\ $$$$$$$\   $$$$$$\  $$\       
$$  __$$\ $$  _____|$$  __$$\ $$  __$$\ $$ |      
$$ /  \__|$$ |      $$ |  $$ |$$ /  $$ |$$ |      
$$ |$$$$\ $$$$$\    $$$$$$$  |$$$$$$$$ |$$ |      
$$ |\_$$ |$$  __|   $$  __$$< $$  __$$ |$$ |      
$$ |  $$ |$$ |      $$ |  $$ |$$ |  $$ |$$ |      
\$$$$$$  |$$$$$$$$\ $$ |  $$ |$$ |  $$ |$$$$$$$$\ 
 \______/ \________|\__|  \__|\__|  \__|\________|
*/

:root {
    --primary-black : #333333;
    --primary-white : #fafafa;
}

.clear:after , .clear:before{
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

html {
    height: 100%;
  }
  
body {
    overflow-x:hidden;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.content {
    position: relative;
}
  
.sticky {
    position: fixed;
    height: 100px;
    top: 0;
}

/*
 /$$   /$$ /$$$$$$$$  /$$$$$$  /$$$$$$$  /$$$$$$$$ /$$$$$$$ 
| $$  | $$| $$_____/ /$$__  $$| $$__  $$| $$_____/| $$__  $$
| $$  | $$| $$      | $$  \ $$| $$  \ $$| $$      | $$  \ $$
| $$$$$$$$| $$$$$   | $$$$$$$$| $$  | $$| $$$$$   | $$$$$$$/
| $$__  $$| $$__/   | $$__  $$| $$  | $$| $$__/   | $$__  $$
| $$  | $$| $$      | $$  | $$| $$  | $$| $$      | $$  \ $$
| $$  | $$| $$$$$$$$| $$  | $$| $$$$$$$/| $$$$$$$$| $$  | $$
|__/  |__/|________/|__/  |__/|_______/ |________/|__/  |__/                                                            
*/

.header-page {
    width: 100vw;
    height: 130px;
    background-color: #85CDF5;
    font-family: 'Darker Grotesque', sans-serif;
    z-index: 8;
    transition: 0.3s;
}

.header-page a {
    text-decoration: none;
    color: var(--primary-black);
    font-weight: bold;
    font-style: normal;
    font-size: 1.6em;
}

.header-page img {
    position: absolute;
    top: 50%;
    transform:translateY(-50%) translateX(-50%);
    left: 50%;  
}

.ourWolves {
    position: absolute;
    top: 50%;
    transform:translateY(-50%); 
}

.talkToUs {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}


.ourWolves:after {
    content: ""; 
    display: block;
    background-color: var(--primary-black);
    height: 5px;
    width: 0;
    transition: .3s;
    margin-top: 7px;
}

.ourWolves:hover:after { 
    width: 100px;
    transition: .3s;
}

.talkToUs:after {
    content: ""; 
    display: block;
    background-color: var(--primary-black);
    height: 5px;
    width: 0;
    transition: .3s;
    margin-top: 7px;
}

.talkToUs:hover:after {
    width: 100px;
    transition: .3s;
}

 
/*
$$$$$$$$\  $$$$$$\   $$$$$$\  $$$$$$$$\ $$$$$$$$\ $$$$$$$\  
$$  _____|$$  __$$\ $$  __$$\ \__$$  __|$$  _____|$$  __$$\ 
$$ |      $$ /  $$ |$$ /  $$ |   $$ |   $$ |      $$ |  $$ |
$$$$$\    $$ |  $$ |$$ |  $$ |   $$ |   $$$$$\    $$$$$$$  |
$$  __|   $$ |  $$ |$$ |  $$ |   $$ |   $$  __|   $$  __$$< 
$$ |      $$ |  $$ |$$ |  $$ |   $$ |   $$ |      $$ |  $$ |
$$ |       $$$$$$  | $$$$$$  |   $$ |   $$$$$$$$\ $$ |  $$ |
\__|       \______/  \______/    \__|   \________|\__|  \__|
*/
 
.footer::before {
    content: '';
    height: 5px;
    width: 100%;
    background-image: linear-gradient(to right, #DEB959, #2C5680);
    display: block;
}

.footer {
    width: 100%;
    background: var(--primary-black);
}

.footer a {
    text-decoration: none;
    color: var(--primary-black);
}

.footer-map {
    max-width: 250px;
    display: inline-block;
    padding: 50px 50px 0 0;
}

.infos {
    max-width: 350px;
    display: inline-block;
    margin-right: 50px;
    padding-bottom: 20px;
}

.info-item img {
    display: inline-block;
    margin-right: 10px;
}

.info-item::after{
    content: '';
    display: block;
    height: 20px;
}

.info-item p {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.125em;
    color: var(--primary-white);
    max-width: 310px;
    display: inline-block;
}

.footer-btn {
    color: var(--primary-black);
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    padding: 3px 10px 5px 10px;
    cursor: pointer;
    background: #DEB959;
    max-width: 125px;
    transition: .5s;
}

.footer-btn:hover {
    background: #2C5680;
    color: var(--primary-white);
}

.paws {
    max-width: 130px;
    display: inline-block;
}

.paws p{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.125em;
    color: var(--primary-white);
    max-width: 120px;
    display: inline-block;
    padding-bottom: 20px;
    text-align: center;
}

.paws img {
    padding-bottom: 20px;
} 