/*
$$$$$$\  $$\       $$$$$$\ $$$$$$$\  $$$$$$$$\ $$$$$$$\  
$$  __$$\ $$ |      \_$$  _|$$  __$$\ $$  _____|$$  __$$\ 
$$ /  \__|$$ |        $$ |  $$ |  $$ |$$ |      $$ |  $$ |
\$$$$$$\  $$ |        $$ |  $$ |  $$ |$$$$$\    $$$$$$$  |
 \____$$\ $$ |        $$ |  $$ |  $$ |$$  __|   $$  __$$< 
$$\   $$ |$$ |        $$ |  $$ |  $$ |$$ |      $$ |  $$ |
\$$$$$$  |$$$$$$$$\ $$$$$$\ $$$$$$$  |$$$$$$$$\ $$ |  $$ |
 \______/ \________|\______|\_______/ \________|\__|  \__|                                                                                                                      
*/

.slider {
    height: 500px;
    object-fit: cover;
}

.home-img {
    filter: brightness(70%);
    object-fit: cover;
}

.slider-text {
    text-align: center;
    color: #fafafa;
    margin: -300px;
    z-index: 5;
    position: relative;
}

.slider-text h1::after {
    content: ""; 
    display: block;
    background-color: #333333;
    height: 5px;
    width: 0;
    transition: .3s;
    margin-top: 7px;
}

.slider-text h1:hover::after {
    width: 100px;
    transition: .3s;
}

.mySlides {
    display: none;
    height: 500px;
}

.mySlides img {
    vertical-align: middle;
}

.slideshow-container {
  max-height: 100%;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/*
 $$$$$$\   $$$$$$\  $$$$$$$\  $$$$$$$\  $$$$$$$$\ 
$$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ $$  _____|
$$ /  \__|$$ /  $$ |$$ |  $$ |$$ |  $$ |$$ |      
\$$$$$$\  $$ |  $$ |$$$$$$$\ |$$$$$$$  |$$$$$\    
 \____$$\ $$ |  $$ |$$  __$$\ $$  __$$< $$  __|   
$$\   $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |      
\$$$$$$  | $$$$$$  |$$$$$$$  |$$ |  $$ |$$$$$$$$\ 
 \______/  \______/ \_______/ \__|  \__|\________|
*/

.about {
    height: 333px;
    background-color: #2C5680;
    text-align: center;
}

.about h2 {
    color: #DEB959;
    margin: 30px auto;
    line-height: 65px;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Darker Grotesque';
}

.about p  {
    color: #fafafa;
    line-height: 33px;
    font-size: 1.5em;
    width: 960px;
}

/*
$$\    $$\  $$$$$$\  $$\        $$$$$$\  $$$$$$$\  $$$$$$$$\  $$$$$$\  
$$ |   $$ |$$  __$$\ $$ |      $$  __$$\ $$  __$$\ $$  _____|$$  __$$\ 
$$ |   $$ |$$ /  $$ |$$ |      $$ /  $$ |$$ |  $$ |$$ |      $$ /  \__|
\$$\  $$  |$$$$$$$$ |$$ |      $$ |  $$ |$$$$$$$  |$$$$$\    \$$$$$$\  
 \$$\$$  / $$  __$$ |$$ |      $$ |  $$ |$$  __$$< $$  __|    \____$$\ 
  \$$$  /  $$ |  $$ |$$ |      $$ |  $$ |$$ |  $$ |$$ |      $$\   $$ |
   \$  /   $$ |  $$ |$$$$$$$$\  $$$$$$  |$$ |  $$ |$$$$$$$$\ \$$$$$$  |
    \_/    \__|  \__|\________| \______/ \__|  \__|\________| \______/ 
*/

.values {
    height: 625px;
    width: 100%;
    background-color: #333333;
    text-align: center;
    padding: 30px;
}

.div-geral-imgs {
    margin: 0 auto;
}

.values-title {
    width: 139px;
    font-weight: bold;
    font-size: 48px;
    line-height: 65px;
    color: #DEB959;
    display: block;
    margin: 0 auto;  
}

.values-div{
    display: inline-block;
    margin: auto 0;
    text-align: center;
}

.imgs-values {
    background-color: #fafafa;
    border-radius: 50%;
    padding: 25px 24px;
    object-fit: cover;

}


.values-div h2 {
    width: 118px;
    font-family: 'Darker Grotesque',sans-serif;
    font-size: 34px;
    font-weight: bold;
    line-height: 46px;
    text-align: center;
    color:#fafafa;
    margin: 0 auto;
}

.values-div p {
    width: 195px;
    height: 140px;
    font-family: 'Darker Grotesque',sans-serif;
    font-size: 26px;    
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fafafa;
}

/*
$$$$$$$$\ $$\   $$\ $$$$$$$$\ $$\      $$\ $$$$$$$\  $$\        $$$$$$\  
$$  _____|$$ |  $$ |$$  _____|$$$\    $$$ |$$  __$$\ $$ |      $$  __$$\ 
$$ |      \$$\ $$  |$$ |      $$$$\  $$$$ |$$ |  $$ |$$ |      $$ /  $$ |
$$$$$\     \$$$$  / $$$$$\    $$\$$\$$ $$ |$$$$$$$  |$$ |      $$ |  $$ |
$$  __|    $$  $$<  $$  __|   $$ \$$$  $$ |$$  ____/ $$ |      $$ |  $$ |
$$ |      $$  /\$$\ $$ |      $$ |\$  /$$ |$$ |      $$ |      $$ |  $$ |
$$$$$$$$\ $$ /  $$ |$$$$$$$$\ $$ | \_/ $$ |$$ |      $$$$$$$$\  $$$$$$  |
\________|\__|  \__|\________|\__|     \__|\__|      \________| \______/ 
*/

.wolfs-example {
    height: 1040px;
    
}

.title {
    color: #DEB959;
    font-size: 3em;
    margin:30px auto 30px auto;
    max-width: 320px;
}

#wolfsLeft {
    height: 50%;
    width: 100%;
}

.wolfs-imgL {
    margin-top: 30px;
    height: 328px;
    max-width: 430px;
    object-fit: cover;
    box-shadow: -30px -30px 0 #2C5680, -30px -30px 0 4px #333333;
    float: left;
}

.wolfs-nameL {
    max-width: 199px;
    font-family: 'Darker Grotesque',sans-serif;
    font-weight: bold;
    font-size: 2.25em;
    
}

.wolfs-ageL {
    max-width: 110px;
    font-size: 1.25em;
    font-family: 'Darker Grotesque',sans-serif;
    color: #333333;
    line-height: 27px;
    font-weight: 300;
}

.wolfs-descriptionL {
    max-width: 461px;
    font-family: 'Darker Grotesque',sans-serif;
    font-size: 1.5em;
    line-height: 20px;
    color: #333333;
   
}

#textsLeft {
    float: right;
}



#wolfsRight {
    max-height: 50%;
    max-width: 100%;
}

#textsRight {
    max-width: 50%;
    text-align: right;
}

.wolfs-imgR {
    margin-top: 30px;
    height: 328px;
    max-width: 430px;
    object-fit: cover;
    box-shadow: 30px -30px 0 #2C5680, 30px -30px 0 4px #333333;
    float: right;
}

.wolfs-nameR {
    font-family: 'Darker Grotesque',sans-serif;
    font-weight: bold;
    font-size: 2.25em;
    
}

.wolfs-ageR {
    font-size: 1.25em;
    font-family: 'Darker Grotesque',sans-serif;
    color: #333333;
    line-height: 27px;
    font-weight: 300;
}

.wolfs-descriptionR {
    font-family: 'Darker Grotesque',sans-serif;
    font-size: 1.5em;
    line-height: 20px;
    color: #333333;
   
}