/* 
$$$$$$$\  $$\   $$\  $$$$$$\   $$$$$$\   $$$$$$\  
$$  __$$\ $$ |  $$ |$$  __$$\ $$  __$$\ $$  __$$\ 
$$ |  $$ |$$ |  $$ |$$ /  \__|$$ /  \__|$$ /  $$ |
$$$$$$$\ |$$ |  $$ |\$$$$$$\  $$ |      $$$$$$$$ |
$$  __$$\ $$ |  $$ | \____$$\ $$ |      $$  __$$ |
$$ |  $$ |$$ |  $$ |$$\   $$ |$$ |  $$\ $$ |  $$ |
$$$$$$$  |\$$$$$$  |\$$$$$$  |\$$$$$$  |$$ |  $$ |
\_______/  \______/  \______/  \______/ \__|  \__|
*/

.list {
    width: 100%;
    min-height: 2000px;
    text-align: center;
    font-family: Darker Grotesque;
    font-style: normal;
    padding-bottom: 100px;
}

.search-div {
    width: 100%;
    margin: 50px auto;
    margin-bottom: 200px;
}

.search {
    width: 80%;
    height: 30px;
    border: 1px solid #333333;
    float: left;
}

.search-btn {
    width: 130px;
    height: 47px;
    background-color: #DEB959;
    color: #fafafa;
    text-decoration: none;
}

.search-btn:hover {
    background-color: #2C5680;
    transition: .3s;
}

/* 
$$\       $$$$$$\  $$$$$$\  $$$$$$$$\  $$$$$$\        $$\        $$$$$$\  $$$$$$$\   $$$$$$\  
$$ |      \_$$  _|$$  __$$\ \__$$  __|$$  __$$\       $$ |      $$  __$$\ $$  __$$\ $$  __$$\ 
$$ |        $$ |  $$ /  \__|   $$ |   $$ /  $$ |      $$ |      $$ /  $$ |$$ |  $$ |$$ /  $$ |
$$ |        $$ |  \$$$$$$\     $$ |   $$$$$$$$ |      $$ |      $$ |  $$ |$$$$$$$\ |$$ |  $$ |
$$ |        $$ |   \____$$\    $$ |   $$  __$$ |      $$ |      $$ |  $$ |$$  __$$\ $$ |  $$ |
$$ |        $$ |  $$\   $$ |   $$ |   $$ |  $$ |      $$ |      $$ |  $$ |$$ |  $$ |$$ |  $$ |
$$$$$$$$\ $$$$$$\ \$$$$$$  |   $$ |   $$ |  $$ |      $$$$$$$$\  $$$$$$  |$$$$$$$  | $$$$$$  |
\________|\______| \______/    \__|   \__|  \__|      \________| \______/ \_______/  \______/ 
*/

.wolf-list {
    margin: 0 auto;
    height: 400px;
    width: 100%;
}

.wolf-left{
    object-fit: cover;
}
.wolf-right{
    object-fit: cover;
}

.list-left-wolf {
    float: right;
    width: 100px;
    height: 30px;
    background-color: #DEB959;
    color: #fafafa;
    transition: .3s;
}

.list-left-wolf:hover {
    background-color: #2C5680;
    transition: .3s;
}

.list-right-wolf {
    float: left;
    width: 100px;
    height: 30px;
    background-color: #DEB959;
    color: #fafafa;
    transition: .3s;
}

.list-right-wolf:hover {
    background-color: #2C5680;
    transition: .3s;
}

.wolf-list-left {
    width: 45%;
    text-align: left;
    float: right;
}

.wolf-list-right {
    width: 45%;
    text-align: right;
    float: left;
}