/* 
$$$$$$$$\  $$$$$$\  $$$$$$$\  $$\      $$\ 
$$  _____|$$  __$$\ $$  __$$\ $$$\    $$$ |
$$ |      $$ /  $$ |$$ |  $$ |$$$$\  $$$$ |
$$$$$\    $$ |  $$ |$$$$$$$  |$$\$$\$$ $$ |
$$  __|   $$ |  $$ |$$  __$$< $$ \$$$  $$ |
$$ |      $$ |  $$ |$$ |  $$ |$$ |\$  /$$ |
$$ |       $$$$$$  |$$ |  $$ |$$ | \_/ $$ |
\__|       \______/ \__|  \__|\__|     \__|
*/

.form {
    width: 958px;
    height: 874px;
    font-family: 'Darker Grotesque',sans-serif; 
    
}

.form h2 {
    color: #333333;
    font-weight: 600px;
    line-height: 81px;
    font-size: 60px;
    text-align: center;
    margin-bottom: 25px;
}


.form label {
    display: block;
    text-align: left;
    line-height: 41px;
    font-weight: 500;
    font-size: 30px;
 }

 .form input {
    height: 39px;
    background-color: #E6E6E6;
    border: 1px solid #333333;
    box-sizing: border-box;
 }

 .aroundform {
    margin-top: 25px;
    padding: 50px;
    border:3px solid #333333;
 }

 .wolfsname input {
    width: 564px;
 }

 .wolfsname {
    float: left;
    margin-right: 20px;
 }

 .wolfsage input {
    width: 177px;
 }

 .wolfslink input {
    width: 760px;
 }

 .wolfsdescription textarea {
    width: 760px;
    height: 250px;
    background-color:  #E6E6E6;
    font-family: 'Darker Grotesque',sans-serif; 
    font-size: 15px;
    border: 1px solid #333333;
    box-sizing: border-box;
 }

 .button {
    text-align: center;
    top: 50%;
    margin-top: 66px;
 }

 .button button {
    width: 209px;
    height: 60px;
    padding: 16px 71px; 
    background-color: #2C5680;
    border: 1px solid #333333;
    box-sizing: border-box;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
 }