/* 
$$$$$$$$\  $$$$$$\  $$$$$$$\  $$\      $$\ 
$$  _____|$$  __$$\ $$  __$$\ $$$\    $$$ |
$$ |      $$ /  $$ |$$ |  $$ |$$$$\  $$$$ |
$$$$$\    $$ |  $$ |$$$$$$$  |$$\$$\$$ $$ |
$$  __|   $$ |  $$ |$$  __$$< $$ \$$$  $$ |
$$ |      $$ |  $$ |$$ |  $$ |$$ |\$  /$$ |
$$ |       $$$$$$  |$$ |  $$ |$$ | \_/ $$ |
\__|       \______/ \__|  \__|\__|     \__|
 */

 .form {
    font-family: 'Darker Grotesque',sans-serif;
    font-size: 1.8em;
    text-align: center;
    width:811px;
    margin-top: 25px;   
 }

 h2{
    text-align: center;
    font-family: 'Darker Grotesque',sans-serif;
    font-size:  60px;
    font-weight: bold;
    max-width: 100%;
    margin: 18px;
 }


 .form div {
    margin-bottom: 24px;
}

 .form label {
    display: block;
    text-align: left;
    margin-left: 25px; /*Mudar todos os margin q estao centralizando*/
    line-height: 41px;
 }

 .form input {
    width: 760px;
    height: 39px;
    background-color: #E6E6E6;
    border: 1px solid #333333;
    box-sizing: border-box;
 }

 .form textarea {
    width: 760px;
    height: 250px;
    font-family: 'Darker Grotesque',sans-serif;
    background-color: #E6E6E6;
    border: 1px solid #333333;
    box-sizing: border-box;
 }

.form button {
    background-color: #2C5680;
    border: 1px solid #333333;
    box-sizing: border-box;
    width: 209px;
    height: 60px;
    font-family: 'Darker Grotesque',sans-serif;
    color: #fafafa;
    font-weight: bold;
    font-size:2em;
    line-height: 49px;
    margin-bottom: 25px;
}