/* 
 $$$$$$\  $$$$$$$$\  $$$$$$\  $$$$$$$$\ $$$$$$\  $$$$$$\  $$\   $$\       $$\      $$\ $$\   $$\  $$$$$$\  
$$  __$$\ $$  _____|$$  __$$\ \__$$  __|\_$$  _|$$  __$$\ $$$\  $$ |      $$ | $\  $$ |$$ |  $$ |$$  __$$\ 
$$ /  \__|$$ |      $$ /  \__|   $$ |     $$ |  $$ /  $$ |$$$$\ $$ |      $$ |$$$\ $$ |$$ |  $$ |$$ /  $$ |
\$$$$$$\  $$$$$\    $$ |         $$ |     $$ |  $$ |  $$ |$$ $$\$$ |      $$ $$ $$\$$ |$$$$$$$$ |$$ |  $$ |
 \____$$\ $$  __|   $$ |         $$ |     $$ |  $$ |  $$ |$$ \$$$$ |      $$$$  _$$$$ |$$  __$$ |$$ |  $$ |
$$\   $$ |$$ |      $$ |  $$\    $$ |     $$ |  $$ |  $$ |$$ |\$$$ |      $$$  / \$$$ |$$ |  $$ |$$ |  $$ |
\$$$$$$  |$$$$$$$$\ \$$$$$$  |   $$ |   $$$$$$\  $$$$$$  |$$ | \$$ |      $$  /   \$$ |$$ |  $$ | $$$$$$  |
 \______/ \________| \______/    \__|   \______| \______/ \__|  \__|      \__/     \__|\__|  \__| \______/ 
                                                                                                           
*/

.who  {
    color: #333333;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    line-height: 56px;
    margin-top: 20px;
}

.text {
    margin-top: 20px;
    font-size: 24px; 
    line-height: 30px;
    font-family: 'Darker Grotesque';
    width: 700px;
    margin-bottom: 30px;
}